@import url(../../repsonsive/responsiceAbout.scss);

.about {
  width: 100%;
  height: auto;
  padding-top: 120px;
  .banner {
    background-color: rgb(233, 233, 233);
    padding: 120px 0px 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .p_banner {
      margin-top: 30px;
      font-size: 50px;
    }
    .selection {
      a {
        font-size: 13px;
        margin: 10px;
      }
    }
  }
}

.about_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  .imgs img {
    width: 100%;
    border-radius: 15px;
  }
  .text {
    max-width: 50%;
    text-align: center;
    padding-left: 50px;
    .b_text {
      font-size: 35px;
    }
    .p_text {
      text-align: left;
      color: rgb(94, 82, 61);
      line-height: 1.7;
    }
  }
}

.mpvc {
  border-top: solid 0.1px rgb(153, 153, 153);
  margin: 70px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 50px;
}

.about_end {
  border-top: solid 0.1px rgb(153, 153, 153);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  .about_end_text {
    max-width: 50%;
    text-align: left;
    padding-right: 50px;
    .b_text {
      font-size: 35px;
    }

    .p_text {
      text-align: left;
      color: rgb(94, 82, 61);
      line-height: 1.7;
    }
  }
  .about_end_imgs img {
    width: 80%;
    border-radius: 15px;
  }
  .about_end_btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    .icon {
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}
