.container {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
  height: 50px;
  width: 100%;
  z-index: 999;

  font-size: 15px;
  font-weight: 600;
  .language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .items {
      display: flex;
      flex-direction: column;
      .vn {
        display: flex;
        justify-content: center;
        align-items: center;
        .lg-span {
          padding-top: 5px;
        }
      }

      .menu_language {
        position: relative;
        display: none;
        box-shadow: 2px 2px 2px black;
        background-color: white;
        width: 100px;
        height: 50px;
        z-index: 10;
        border-radius: 5px;
      }
      a { 
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 6px;
        

        color: black;
      }
    }
  }
  .account a {
    color: white;
  }
}
