@media (max-width: 1200px) {
  .header {
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
  }

  .tool {
    gap: 15px;
  }

  nav {
    .main_menu ul {
      gap: 25px;
    }

    .sub_menu {
      margin-top: 300px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px 20px;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav {
    .main_menu ul {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }

    .sub_menu {
      position: relative;
      width: 100%;
      margin-top: 0;
      padding: 10px;
      border-radius: 0;
    }
  }

  .tool {
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 5px 10px;
  }

  nav {
    .main_menu ul {
      gap: 15px;
    }

    .sub_menu {
      display: block;
      padding: 5px;
    }
  }

  .tool {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 5px;
  }

  nav {
    .main_menu ul {
      gap: 10px;
      font-size: 14px;
    }

    .sub_menu {
      img {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
      }
    }
  }

  .tool {
    gap: 5px;
  }
}
