@media (max-width: 1200px) {
  .header {
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
  }

  .tool {
    gap: 15px;
  }

  nav {
    .main_menu ul {
      gap: 25px;
    }

    .sub_menu {
      margin-top: 300px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px 20px;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav {
    .main_menu ul {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }

    .sub_menu {
      position: relative;
      width: 100%;
      margin-top: 0;
      padding: 10px;
      border-radius: 0;
    }
  }

  .tool {
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  header {
    .nav_header {
      position: fixed;
      width: 100%;
      background-color: rgb(253, 251, 248);
      margin-right: 40px;
      margin-top: 20px;
      top: -800%;
      // top: 0;
      z-index: 999999;
    }
  }
  nav {
    width: 100%;
    background-color: rgb(253, 251, 248);
    .main_menu {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .tool {
    position: absolute;
    padding: 20px;
    // background-color: rgb(253, 251, 248);
  }
  // BlackLine
  .container {
    .blackLine_text {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .header {
    padding: 5px;
  }

  nav {
    .main_menu ul {
      gap: 10px;
      font-size: 14px;
    }

    .sub_menu {
      img {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
      }
    }
  }

  .tool {
    gap: 5px;
  }
}
