.News {
  width: 100%;
  height: auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    background-color: rgb(233, 233, 233);
    padding: 120px 0px 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .p_banner {
      margin-top: 30px;
      font-size: 50px;
    }

    .selection {
      a {
        font-size: 13px;
        margin: 10px;
      }
    }
  }

  .news_contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    padding-top: 30px;

    .contents {
      margin: 30px;
      width: 80%;
      .news-item {
        background-color: rgb(244, 242, 242);
        display: flex;
        flex-direction: column;
        text-align: left;
        border: 1px solid;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:hover {
          background-color: #e1e1e1; // Màu nền khi hover chuột vào phần tử
        }

        img {
          width: 100%;
        }

        h3 {
          font-size: 30px;
          font-weight: 500;
          padding: 0 30px 0 30px;
        }

        p {
          padding: 0 35px 50px 35px;
          color: rgb(96, 96, 96);
          letter-spacing: 1px;
          line-height: 1.5;
        }

        .end {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-top: 1px solid;
          height: 50px;
        }
      }
    }

    .sideBar {
      width: 40%;
      position: sticky;
      top: 30px; // Cách đỉnh của viewport 30px khi sticky
      align-self: flex-start; // Giúp sideBar dính ở phía trên nội dung khi cuộn
      margin-top: 50px;

      .category {
        margin-top: 50px;
        h3 {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }

        .filterButtons {
          display: flex;
          flex-wrap: wrap;

          button {
            padding: 10px 20px;
            margin: 5px;
            font-size: 1rem;
            cursor: pointer;
            border: none;
            background-color: #f0f0f0;
            transition: background-color 0.3s ease;

            &.active {
              background-color: #ccc;
            }

            &:hover {
              background-color: #e1e1e1;
            }
          }
        }
      }

      .newBlog {
        h3 {
          font-weight: 600;
        }

        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid;
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.5s ease;

          &:hover {
            background-color: #f0f0f0; // Màu nền khi hover chuột vào phần tử
          }

          img {
            width: 100px;
            height: 100px;
            overflow: hidden;
            object-fit: cover;
            margin-left: 10px;
          }

          .texts {
            margin-left: 10px;
            margin-right: 10px;
            padding-bottom: 20px;

            b {
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 65%;
    max-height: 80%;
    overflow-y: auto;
    img {
      width: 100%;
    }
    p {
      font-size: 20px;
      line-height: 1.5;
      padding: 30px;
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}
